<script src="/static/js/libraries/jquery-3.6.0.min.js"></script>

<script src="/static/js/header.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/progressbar.js"></script>
<script src="/static/js/fullbox.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/header.css">
<link rel="stylesheet" type="text/css" href="/static/css/progressbar.css">

<link rel="icon" type="image/png" href="/static/images/logo.png">

<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, height=device-height, width=device-width" />
<meta charset="utf-8">

<title>FunCode | {{title}}</title>